@import 'reset';

#nav-bar {
  background-color: navy;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}

.nav-btn {
  color: white;
  font-size: 2em;
  margin: 0 20px;
  text-decoration: none;
  &:hover {
    color: lightgreen;
    cursor: pointer;
  }
}

.active {
  background-color: darkgreen;
}

#get-weather {
  margin-top: 100px;
  text-align: center;
}

h1, h3 {
  font-size: 1.5em;
  margin: 20px;
}

input {
  display: block;
  margin: 10px auto;
  text-indent: 8px;
}

button, input {
  border-radius: 5px;
  height: 25px;
  width: 200px;
}

button {
  background-color: white;
  border-color: lightgreen;
  outline: none;
  &:hover {
    cursor: pointer;
    background-color: lightgreen;
  }
}
